{% extends "base.html" %}

{% block content %}
<div class="album-pane">
    <div class="image-holder-someday"></div>
    <div class="album-info">
        <p class="title">
            {{ album.title }}
        </p>
        <p class="artist">
            {{  album.artist.name }}
        </p>
        <p class="year">
            {{ album.release_year }}
        </p>
    </div>
</div>
<div class="other-albums">
    <h2>All Albums by {{ album.artist.name }}</h2>
    {% for other_album in artist.albums.all %}
    <p> {{ other_album.title }} </p>
    {% endfor %}
</div>

{% endblock %}