{% extends "base.html" %}

{% block content %}
<div class="album-pane">
    <div class="image-holder-someday"></div>
    <div class="album-info">
        <a href="{% url 'show_album' pk=album.pk %}" class="title">
            {{ album.title }}
        </a><br>
        <a href="{% url 'show_artist' pk=album.artist.pk %}" class="title">
            {{ album.artist }}
        </a><br>
        <p class="year">
            {{ album.release_year }}
        </p>
    </div>
</div>
<div class="other-albums">
    <h2>All Albums by {{ album.artist.name }}</h2>
    {% for other_album in artist.albums.all %}
    <p> {{ other_album.title }} </p>
    {% endfor %}
</div>

{% endblock %}